.container {
	margin-bottom: 20px;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0px;
}

.delete-form {
	display: inline;
}

#map {
	height: 400px;
	width: 100%;
	margin-bottom: 15px;
}
